
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  
    background-image: url("https://images8.alphacoders.com/998/998795.jpg");
    
    background-size: cover;
    background-attachment: fixed;
  
}
